body{background-image:url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSgnOeKVXlQodpc0yiaVksANfDfuM8O4ZIAHTrUkn9h52OEQFJqyQ");}
h1{color:white;}
p{color:white;
font-size:25px;    
}
p {
    background-color:blue;
}
#nuts{background-color:red;
color:white;
}