body{background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRnm_sCvWIcS5kIvX_c_ihSY0F0cM-VcgeUAutBB5izx3caArW8")}
body{color:black;}
h1 {
    text-shadow: 4px 4px red;}
    h2{
    text-shadow: 4px 4px orange;
        font-size:35px;
    }
    h3{text-shadow: 4px 4px yellow;
        font-size:35px;
    } 
    h4{text-shadow:4px 4px green;
        font-size:35px;
    }
    p{font-size:25px;}
    h5{font-size:35px;
    text-shadow:4px 4px blue;    
    }
    h6{font-size:35px;
    text-shadow: 4px 4px purple;
    }
    h7{font-size:35px;
    text-shadow:4px 4px white;
    }
    h8{font-size:35px;
    text-shadow:4px 4px white;
    }
    p{background-color:black;
    color:white;
    }
    h9{font-size:35px;
    text-shadow:4px 4px white;
    }
    h10{font-size:35px;
    text-shadow:4px 4px white;
    color:black;
    }
    h11{font-size:35px;
    text-shadow:white;
    color:white;
        
    }
    